.footer {
    min-width: max-content;
    background-color: #121212;
    padding-top: 60px;
    padding-bottom: 30px;
}

.basement-wrapper {
    padding-bottom: 87px;
}

.basement-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
}

.basement-nav__link {
    margin-right: 3px;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: #ffffff;
}

.basement-nav__link:hover {
    border-bottom: 1px solid #ffffff;
    opacity:0.5;
}

.basement-text {
    font-size: 20px;
    line-height: 27px;
    color: #FFF;
    opacity: 0.5;
}

@media (max-width: 767px) {

    .footer {
        padding-top: 30px;
        padding-bottom: 26px;
    }

    .basement-wrapper {
        padding-bottom: 41px;
    }

    .basement-nav {
        gap: 30px;
    }

    .basement-nav__link {
        font-size: 12px;
        line-height: 16px;
    }

    .basement-text {
        font-size: 13px;
        line-height: 18px;
    }
}
