header {
    margin: 0 auto;
    padding: 32.82px 0 70px 0;
    width: 1150px;
}

.nav {
    float: right;
    vertical-align: top;
}

.nav__link {
    display: inline-block;
    margin-left: 58px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.nav__link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}
/**/