body {
     width: 100%;
     font-family: "Manrope", sans-serif;
}

.module {
     margin: 0 auto;
     width: 1400px;
     background: #FFFFFF;
}

.cover {
     margin: 128px 125px 150px 125px;
     width: 1150px;
     height: 650px;     
}

.cover-h1 {
     margin-bottom: 30px;
     width: 956px;
     height: 120px;
     font-weight: 400;
     font-size: 60px;
     line-height: 60px;
     letter-spacing: -0.03em;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background-image {
    position: relative;
     width: 1150px;
     height: 500px;
     background: url(../resources/Rectangle\ 1.png);
}

.background-image-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    height: 81px;
     color: #ffffff;
     font-weight: 400;
     font-size: 20px;
     line-height: 27.32px;
     letter-spacing: -0.03em;
}

.view-services {
     margin: 0 auto;
     margin-bottom: 150px;
     width: 1150px;
     height: 518px;
     box-sizing: border-box;
}

.h2 {
     margin-bottom: 30px;
     width: 51px;
     height: 25px;
     color: #121212;
     font-weight: 400;
     font-size: 18px;
     line-height: 25px;
     letter-spacing: -0.03em;
     text-transform: uppercase;
}

.view-services-studio {
     margin-bottom: 30px;
     width: 1048px;
     height: 366px;
     color: #121212;
     font-weight: 400;
     font-size: 45px;
     line-height: 61px;
     letter-spacing: -0.03em;
}
   
 .serviceLink {
     display: block;
     padding: 20px 40px;
     width: 255px;
     height: 67px;
     text-align: center;
     text-decoration: none;
     color: #ffffff;
     background-color: #ad1818;
     font-weight: 400;
     font-size: 20px;
     line-height: 27px;
     letter-spacing: -0.03em;
     border-radius: 7px;
 }

 .projects {
     margin-bottom: 150px;
     width: 1150px;
     height: 2122px;
 }

 .h2-projects {
     margin: 0 0 30px 125px;
     font-weight: 400;
     font-size: 18px;
     line-height: 25px;
     letter-spacing: -0.03em;
 }

 .right-bank {
     margin: 0 125px 90px 125px;
     width: 1150px;
     height: 548px;
 }

 .right-bank__text {
     margin: 15px 0;
     font-weight: 400;
     font-size: 30px;
     line-height: 41px;
     letter-spacing: -0.03em;
 }

 .right-bank__more {
     font-weight: 400;
     font-size: 20px;
     line-height: 27px;
     letter-spacing: -0.03em;
     color: #AD1818;
 }

 .all-projects {
     display: block;
     margin-left: 125px;
     width: 100%;
     height: 153px;
     padding: 56px 0;
     border: 1px solid #AD1818;
     text-decoration: none;
     font-weight: 400;
     font-size: 30px;
     line-height: 41px;
     text-align: center;
     letter-spacing: -0.03em;
     color: #AD1818;
 }

 .all-projects:hover {
     background-color: #AD1818;
     color: #FFFFFF;
 }

 .list_of_services {
     width: 100%;
     padding-top: 157px;
     padding-left: 125px;
     background-color: #121212;
 }

 .h2-services {
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
 }

.service {
    margin-bottom: 60px;
}

.service:nth-last-child(1) {
    margin-bottom: 0px;
    padding-bottom: 150px;
}

 .list_of_services__img {
    margin-bottom: 15px;
 }

 .h3-services {
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}
