@import url(header.css);
@import url(footer.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    background: #ffffff;
}

h1,
h2,
h3,
div,
p,
a {
    color: #121212;
    letter-spacing: -0.03em;
}  

.nav__link,
.about-us__view-services,
.box-projects__all-projects,
.basement-text {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

h1 {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 41px;
}

.main-poster__bg-image {
    position: relative;
    margin-bottom: 150px;
    width: 1150px;
    height: 500px;
    background: url(../resources/interior.png);
}

.main-poster__text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 430px;
    color: #ffffff;
    font-size: 20px;
    line-height: 27.32px;
}

/*О НАС*/

.about-us {
    margin-bottom: 150px;
}

.about-us__description {
    margin-bottom: 30px;
    margin-left: 3px;
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
}

.about-us__view-services {
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ad1818;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
}

.about-us__view-services:hover {
    border: 1px solid #AD1818;
    background-color: #FFFFFF;
    color: #ad1818;
}

/*ПРОЕКТЫ*/

.box-projects {
    margin-bottom: 150px;
}

.box-projects__img {
    margin-bottom: 14px;
}

.box-projects__title {
    margin-bottom: 14px;
}
 
.box-projects__link {
    margin-left: 1px;
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
    text-decoration: none;
}

.box-projects__project {
    margin-top: 90px;
}

.box-projects__projects :first-child {
    margin-top: 0;
} 

.box-projects__projects {
    margin-bottom: 90px;
}

.box-projects__all-projects {
    display: inline-block;
    padding: 56px 0;
    width: 100%;
    height: 153px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    font-size: 30px;
    line-height: 41px;
    color: #AD1818;
}

.box-projects__all-projects:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

/*УСЛУГИ*/

.dark-theme {
    padding-top: 151px;
    padding-bottom: 150px;
    min-width: 1180px;
    background-color: #121212;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.h2 {
    margin-bottom: 33px;
    margin-left: 2px;
    color: #fff;
}

.services__service {
    position: relative;
    margin-bottom: 80px;
    width: calc(50% - 5px);
}

.services__img {
    margin-bottom: 25px;
}

.services__price {
    position: absolute;
    top: 32px;
    left: 30px;
    padding: 5px 20px;
    font-size: 22px;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    background: #ad1818;
}

.services__title {
    margin-left: 3px;
    color: #fff;
}

.order-service {
    display: inline-block;
    margin-top: 24px;
    padding: 56px 0;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: #AD1818;
}

.order-service:hover {
    color: #ad1818;
    background: #fff;
}

/*ОТЗЫВЫ*/

.box-reviews {
    margin-top: 150px;
    margin-bottom: 150px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.reviews__feed-review {
    width: calc(50% - 45px);
}

.reviews__feed-review:last-child {
    width: 75%;
}

.reviews__username {
    margin-bottom: 14px;
    font-size: 45px;
    line-height: 61px;
}

.reviews__review {
    font-size: 22px;
    line-height: 30px;
}

/*display: block;
.section-full-screen {
    position: relative;
    padding: 0;
    width: 100%;
    height: 717px;
    background-image: url(../resources/double-bed.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.full-screen {
    margin: 0 auto;
    width: 1150px;   
}

.full-screen__text {
    position: absolute;    
    bottom: 60px;    
    width: 443px;
    color: #FFF;
} 
 
.contacts {
    position: relative;
    margin-top: 186px;
    margin-bottom: 152px;
    padding: 0;
    width: 1150px;
}

.contacts:before {
    content: '';
    display: block;
    position: absolute;
    top: -36px;
    margin-left: -4px;
    width: 24px;
    height: 24px;
    background-image: url(../resources/icon-phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contacts__links a {
    display:block;
    width: 473px;
    font-size: 60px;
    line-height: 60px;
    border-bottom: 2px solid transparent;
    text-decoration:none;    
}

.contacts__links a:hover {
    border-bottom: 2px solid #121212;
    opacity:0.5
}

.contacts__links a:last-child {
    padding-top: 32px;
    padding-bottom: 8px;
}
*/

@media (max-width: 961px) {
   
    .container {
        padding-left: 17px;
        padding-right: 17px;
        width: 100%;
    }

    h1 {
        
        font-size: 50px;
    }

    h3 {
        font-size: 25px;
        line-height: 34px;
    }

    .main-poster__bg-image {
        margin-bottom: 120px;
        width: 100%;
        height: 400px;
        background-image: url(../resources/interior_tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    .main-poster__tex {
        bottom: 30px;
        left: 42px;
    }

    /*О НАС*/

    .about-us {
        margin-bottom: 120px;
    }

    .about-us h2 {
        margin-left: 2px;
    }

    .about-us__description {
        margin-left: 5px;
        width: 690px;
        font-size: 35px;
        line-height: 48px;
    }

    .about-us__view-services {
        margin-left: 2px;
    }

    /*ПРОЕКТЫ*/

    .box-projects {
        margin-bottom: 100px;
    }
    
    .box-projects__img {
        width: 100%;
    }

    .box-projects__title {
        margin-bottom: 10px;
    }

    .box-projects__link {
        margin-left: 2px;
    }

    .box-projects__project {
        margin-top: 80px;
    }

    .box-projects__projects :first-child {
        margin-top: 0;
    }

    .box-projects__projects {
        margin-bottom: 100px;
    }

    /*УСЛУГИ*/

    .dark-theme {
        padding-bottom: 120px;
        min-width:auto;
    }

    .h2 {
        margin-bottom: 30px;
    }

    .services__img {
        margin-bottom: 15px;
        width: 100%;
    }
    
    .services__price {
        padding: 6px 26px;
        font-size: 20px;
        line-height: 27px;
    }

    .order-service {
        margin-top: 0;
    }

    /*ОТЗЫВЫ*/

    .box-reviews {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .reviews {
        column-gap: 10px;
        row-gap: 80px;
    }

    .reviews__feed-review {
        width: calc(50% - 10px);
    }
    
    .reviews__username {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 48px;
    }

    .reviews__review {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {

    .container {
        padding-left: 13px;
        padding-right: 13px;
    }

    h1 {
        margin-left: 1px;
        margin-bottom: 25px;
        width: 100%;
        font-size: 30px;
        line-height: 31.621px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }

    h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .main-poster__bg-image {
        margin-bottom: 80px;
        height: 304px;
        background-image: url(../resources/interior_mobile.png);
    }

    .main-poster__text {
        bottom: 15px;
        left: 15px;
        max-width: 312px;
        font-size: 16px;
        line-height: 22px;
    }

    /*О НАС*/

    .about-us {
        margin-bottom: 80px;
    }

    .about-us h2 {
        margin-left: 0;
    }

    .about-us__description {
        margin-left: 0;
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .about-us__view-services {
        margin-left: 0;
        padding: 15.207px 30.41px;
        width: 100%;
        height: 51px;
        font-size: 16px;
        line-height: 22px;
        border-radius: 3.8px;
    }
    
    /*ПРОЕКТЫ*/

    .box-projects {
        margin-bottom: 80px;
    }

    .box-projects__img {
        margin-bottom: 20px;
        max-height: 355px;
    }

    .box-projects__title {
        margin-bottom: 11px;
    }

    .box-projects__project {
        margin-top: 49px;
    }

    .box-projects__projects :first-child {
        margin-top: 0;
    }
    
    .box-projects__projects {
        margin-bottom: 60px;
    }
    
    .box-projects__all-projects {
        padding: 37px 0;
        height: 100px;
        border-radius: 3.8px;
        font-size: 22px;
        line-height: 30px;
    }
    
    /*УСЛУГИ*/

    .dark-theme {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .h2 {
        margin-bottom: 20px;
    }

    .services__service {
        margin-bottom: 60px;
        width: 100%;
    }

    .services__img {
        margin-bottom: 10px;
    }

    .services__price {
        top: 23px;
        left: 24px;
        font-size: 14px;
        line-height: 19px;
    }

    .services__title {
        font-size: 18px;
        line-height: 25px;
    }

    .order-service {
        padding: 35px 0;
        font-size: 22px;
        line-height: 30px;
    }

    /*ОТЗЫВЫ*/

    .box-reviews {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .box-reviews h2 {
        margin-bottom: 22px;
    }

    .reviews {
        flex-direction: column;
        row-gap: 80px;
    }

    .reviews__feed-review {
        width: 100%;
    }

    .reviews__feed-review:last-child {
        width: 100%;
    }

    .reviews__username {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }
}
