@import url(header.css);
@import url(popup.css);
@import url(footer.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    background: #ffffff;
}

.body_fixed {
    overflow: hidden;
}

h1,
h2,
h3,
div,
p,
a,
button {
    color: #121212;
    letter-spacing: -0.03em;
}  

.nav__link,
.popup__title,
.popup__description,
.about__button,
.projects__button,
.basement-text {
    text-align: center;
}

/*КНОПКИ*/
.projects__button,
.dark-theme__button {
    display: inline-block;
    padding: 56px 0;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    text-decoration: none;
    border: 1px solid #AD1818;
    border-radius: 5px;
}


.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1180px;
}

h1 {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 41px;
}

.hero__box {
    position: relative;
    margin-bottom: 150px;
    width: 1150px;
    height: 500px;
    background: url(../resources/interior.png);
}

.hero__text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 430px;
    color: #ffffff;
    font-size: 20px;
    line-height: 27.32px;
}

/*О НАС*/

.about {
    margin-bottom: 150px;
}

.about__description {
    margin-bottom: 30px;
    margin-left: 3px;
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
}

.about__button {
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ad1818;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.about__button:hover {
    border: 1px solid #AD1818;
    background-color: #FFFFFF;
    color: #ad1818;
}

/*ПРОЕКТЫ*/

.projects {
    margin-bottom: 148px;
}

.box__image {
    margin-bottom: 14px;
}

.box__title {
    margin-bottom: 14px;
}

.box__link {
    margin-left: 1px;
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
    text-decoration: none;
}

.box__project {
    margin-top: 90px;
}

.box__project:first-child {
    margin-top: 0;
} 

.box {
    margin-bottom: 90px;
}

.projects__button {
    color: #AD1818;
}

.projects__button:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

/*УСЛУГИ*/

.dark-theme {
    padding-top: 151px;
    padding-bottom: 150px;
    min-width: max-content;
    background-color: #121212;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.h2 {
    margin-left: 2px;
    color: #fff;
}

.services__service {
    position: relative;
    margin-bottom: 77px;
    width: calc(50% - 5px);
}

.services__img {
    margin-bottom: 23px;
}

.services__price {
    position: absolute;
    top: 34px;
    left: 31px;
    padding: 5px 20px;
    font-size: 22px;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    background: #ad1818;
}

.services__title {
    margin-left: 3px;
    color: #fff;
}

.dark-theme__button {
    margin-top: 24px;
    color: #fff;
    background: #AD1818;
    cursor: pointer;
}

.dark-theme__button:hover {
    color: #ad1818;
    background: #fff;
}

/*ОТЗЫВЫ*/

.box-reviews {
    margin-top: 150px;
    margin-bottom: 150px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 78px 45px;
}

.reviews__review {
    width: calc(50% - 45px);
}

.reviews__review:last-child {
    width: 75%;
}

.reviews__username {
    margin-bottom: 14px;
    font-size: 45px;
    line-height: 61px;
}

.reviews__description {
    font-size: 22px;
    line-height: 30px;
}

/*галерея проектов*/

.gallery {
    position: relative;
    height: 717px;
}

.gallery__title-wrapper {
    position: absolute;
    top: 67px;
    width: 100%;
    z-index: 100;
}

.gallery__title {
    font-size: 22px;
    line-height: 30px;
    color: white;    
}

.gallery__slide {
    opacity: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    min-width: max-content;
    height: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.gallery__slide_active {
    opacity: 1;
}

.bed {
    background-image: url(../resources/double-bed.png);
}

.yellow-armchair {
    background-image: url(../resources/yellow_armchair.png);
}

.living {
    background-image: url(../resources/living_room.png);
}

.scandinavian {
    background-image: url(../resources/scandinavian_cuisine.png);
}

.gallery__slide-title {
    position: absolute;
    bottom: 60px;
    color: rgb(255, 255, 255);
}

.gallery__control-wrapper {
    position: absolute;
    bottom: 158px;
    width: 100%;
}

.gallery__control-next,
.gallery__control-prev {
    margin-right: 26px;
    padding: 3px 2px;
    cursor: pointer;
    border: none;
    background: none;
}

.gallery__control-prev:hover,
.gallery__control-next:hover {
    opacity: 0.5;
}

/*КОНТАКТЫ*/

.contacts {
    margin-top: 150px;
    margin-bottom: 149px;
}

.contacts__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-top: 74px;
    width: 990px;
}

.box-tel::before,
.box-mail::before {
    content: '';
    display: block;
    position: absolute;
    top: -49px;
    margin-left: -4px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.tel,
.mail {
    font-size: 60px;
    line-height: 60px;
    border-bottom: 2px solid transparent;
    text-decoration:none;
}

.tel:hover,
.mail:hover {
    border-bottom: 2px solid #121212;
    opacity:0.5;
}

.box-tel::before {
    background-image: url(../resources/icon-phone.png);
}

.box-mail::before {
    background-image: url(../resources/icon_email.png);
}

@media (max-width: 961px) {

    .container {
        padding-left: 17px;
        padding-right: 17px;
        width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 25px;
        line-height: 34px;
    }

    .hero__box {
        margin-bottom: 120px;
        width: 100%;
        height: 400px;
        background-image: url(../resources/interior_tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    .hero__text {
        bottom: 30px;
        left: 42px;
    }

    /*О НАС*/

    .about {
        margin-bottom: 120px;
    }

    .about h2 {
        margin-left: 2px;
    }

    .about__description {
        margin-left: 5px;
        width: 690px;
        font-size: 35px;
        line-height: 48px;
    }

    .about__button {
        margin-left: 2px;
    }

    /*ПРОЕКТЫ*/

    .projects {
        margin-bottom: 100px;
    }
    
    .box__image {
        width: 100%;
    }

    .box__title {
        margin-bottom: 10px;
    }

    .box__link {
        margin-left: 2px;
    }

    .box__project {
        margin-top: 80px;
    }

    .box:first-child {
        margin-top: 0;
    }

    .box {
        margin-bottom: 100px;
    }

    /*УСЛУГИ*/

    .dark-theme {
        padding-bottom: 120px;
        min-width:auto;
    }

    .h2 {
        margin-bottom: 30px;
    }

    .services__img {
        margin-bottom: 15px;
        width: 100%;
    }
    
    .services__price {
        padding: 6px 26px;
        font-size: 20px;
        line-height: 27px;
    }

    .dark-theme__button {
        margin-top: 0;
    }

    /*ОТЗЫВЫ*/

    .box-reviews {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .reviews {
        column-gap: 10px;
        row-gap: 80px;
    }

    .reviews__review {
        width: calc(50% - 10px);
    }
    
    .reviews__username {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 48px;
    }

    .reviews__description {
        font-size: 20px;
        line-height: 27px;
    }

    /*галерея проектов*/

    .gallery {
        height: 536px;
    }

    .gallery__title-wrapper {
        top: 80px;
        padding-left: 50px;
    }

    .gallery__title {
        font-size: 20px;
        line-height: 27px;
    }

    .gallery__slide-title {
        bottom: 80px;
        padding-left: 50px;
    }

    .gallery__control-wrapper {
        bottom: 152px;
        padding-left: 41px;
    }

    /*КОНТАКТЫ*/

    .contacts {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .contacts__links {
        width: 730px;
    }

    .tel,
    .mail {
        font-size: 45px;
    }

}

@media (max-width: 767px) {

    .container {
        padding-left: 13px;
        padding-right: 13px;
    }

    .projects__button,
    .dark-theme__button {
        padding: 37px 0;
        font-size: 22px;
        line-height: 30px;
    }

    h1 {
        margin-left: 1px;
        margin-bottom: 25px;
        width: 100%;
        font-size: 30px;
        line-height: 31.621px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }

    h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .hero__box {
        margin-bottom: 80px;
        height: 304px;
        background-image: url(../resources/interior_mobile.png);
    }

    .hero__text {
        bottom: 15px;
        left: 15px;
        max-width: 312px;
        font-size: 16px;
        line-height: 22px;
    }

    /*О НАС*/

    .about {
        margin-bottom: 80px;
    }

    .about h2 {
        margin-left: 0;
    }

    .about__description {
        margin-left: 0;
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .about__button {
        margin-left: 0;
        padding: 15.207px 30.41px;
        width: 100%;
        height: 51px;
        font-size: 16px;
        line-height: 22px;
        border-radius: 3.8px;
    }
    
    /*ПРОЕКТЫ*/

    .projects {
        margin-bottom: 80px;
    }

    .box__image {
        margin-bottom: 20px;
        max-height: 355px;
    }

    .box__title {
        margin-bottom: 11px;
    }

    .box__project {
        margin-top: 49px;
    }

    .box:first-child {
        margin-top: 0;
    }
    
    .box {
        margin-bottom: 60px;
    }
    
    /*УСЛУГИ*/

    .dark-theme {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .h2 {
        margin-bottom: 20px;
    }

    .services__service {
        margin-bottom: 60px;
        width: 100%;
    }

    .services__img {
        margin-bottom: 10px;
    }

    .services__price {
        top: 23px;
        left: 24px;
        font-size: 14px;
        line-height: 19px;
    }

    .services__title {
        font-size: 18px;
        line-height: 25px;
    }

    /*ОТЗЫВЫ*/

    .box-reviews {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .box-reviews h2 {
        margin-bottom: 22px;
    }

    .reviews {
        flex-direction: column;
        row-gap: 80px;
    }

    .reviews__review {
        width: 100%;
    }

    .reviews__review:last-child {
        width: 100%;
    }

    .reviews__username {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }

    /*галерея проектов*/

    .gallery {
        height: 408px;
    }

    .gallery__title-wrapper {
        top: 61px;
        padding-left: 0;
    }

    .gallery__title {
        font-size: 14px;
        line-height: 19px;
    }

    .gallery__slide-title {
        bottom: 60px;
        padding-left: 0;
    }

    .gallery__control-wrapper {
    bottom: 50%;
    padding-left: 0;
    }

    .gallery__controls {
        display: flex;
        justify-content: space-between;
    }

    .gallery__control-next,
    .gallery__control-prev {
        margin-right: 0;
        padding: 2.5px 7.5px;
    }

    /*КОНТАКТЫ*/

    .contacts {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .contacts__links {
        flex-direction: column;
        row-gap: 58px;
        margin-top: 58px;
        width: 100%;
    }

    .box-tel::before,
    .box-mail::before {
        margin-left: 3px;
        width: 18px;
        height: 18px;
    }

    .box-tel::before {
        top: -33px;
        background-image: url(../resources/icon-phone_mobile.png);
    }

    .box-mail::before {
        top: 65px;
        background-image: url(../resources/icon_email_mobile.png);
    }
    
    .tel,
    .mail {
        font-size: 35px;
        line-height: 45.62px;
    }

}
